<h1>Asignment Ooperator</h1>

<pre>
	// membuat variable baru
	var brandon = 7;
	brandon += 2;
	document.write(brandon);

	var brandon = 7;
	brandon += 2;
	brandon *= 5;
	brandon -= 20;
	brandon /= 2;
	document.write(brandon + "&lt;br&gt;") ;

	var ersya = "Ersya ";
	ersya += "Widya Prehesti"
	document.write(ersya);	
</pre>
<script>
	// membuat variable baru
	var brandon = 7;
	brandon += 2;
	brandon *= 5;
	brandon -= 20;
	brandon /= 2;
	document.write(brandon + "<br>") ;

	var ersya = "Ersya ";
	ersya += "Widya Prehesti"
	document.write(ersya); 
</script>