<h1>Complex Condition</h1>

Example 1
<pre>
// membuat variable
var nTengah = "Widyo";
var nBelakang = "Bumi";

if( (nTengah == "Widyo") && (nBelakang == "Bumi")) {
	document.write("Welcome aboard " + nTengah + " " + nBelakang + "!");
}		
</pre>
<script>
	// membuat variable
  var nTengah = "Widyo";
  var nBelakang = "Bumi";
  
  if( (nTengah == "Widyo") && (nBelakang == "Bumi")) {
  	document.write("Welcome aboard " + nTengah + " " + nBelakang + "!");
  }	
</script>
<br>
<a href="https://jsfiddle.net/vanbumi/5t2Lnzrr/2/">Test Code 1</a><br>
<a href="https://jsfiddle.net/vanbumi/5t2Lnzrr/4/">Test Code 2</a><br>
<br>

Example 2
<pre>
<h4>Nilai Kelulusan</h4>

&lt;p id="demo"&gt;&lt;/p&gt;

var nilaiMatematika = 60;
var nilaiBahasaIndonesia = 70;
var nilaiBahasaInggris = 65;
var nilaiBahasaKatak = 65;

if((nilaiMatematika == 70) || (nilaiBahasaIndonesia == 70) || (nilaiBahasaInggris == 70) || (nilaiBahasaKatak == 65)){
document.write("Anda Berhasil Naik Kelas Tahun ini")
} else {
	document.write("Maaf anda gagal tahun ini")
}	
</pre>
<a href="https://jsfiddle.net/vanbumi/6x95f21a/">Test Code 3</a><br><br>


<br><br>


