<h1>For Loop</h1>

<p>Yang harus di ingat dalam For Loop adalah kita:</p>

<ul>
	<li>
		Membuat variable limit <br>
		var mulai    = ... <br>
		var berhenti = ...
	</li>
	<li>
		Membuat sebuah perulangan <br>
		<br>
		for (var mulai; mulai <= berhenti; mulai++) { <br>
  		document.write("Kalimat ini akan di ulang dan di ulang ");<br>
  }
	</li>
</ul>
<br>
<a href="https://jsfiddle.net/vanbumi/s7j8jcv5/">Test Code</a>