<h1>Function</h1>

<script>
	// Membuat function
	function dyonesia() {
		alert("Anda Sukses Login");
	}
	// panggil function
	dyonesia();

</script>

<!-- Membuat form -->

<form action="">
	<input type="text" placeholder="username" />
	<input type="password" placeholder="password" />
	<!-- <input type="button" value="Simpan" onclick="dyonesia()"> -->
	<input type="button" value="Simpan" onmouseover="dyonesia()">
</form> 



