<h1>Global & Local Variable</h1>

<script>
	var girl2 = "I have no girl <br>" // ini global variable

	function pengakuan(){
		var girl = 'I have girl very soon <br>' // ini local variable
		document.write(girl);  
	};
	 pengakuan(); // panggil local variable
	 document.write(girl2); // panggil global variable

</script>