<h1>If Statement</h1>

<pre>
var apple = 40;
var orange = 30;

if(apple >= orange) {
	document.write("Yess good job!");
} else {
	document.write("Succer....")
}	
</pre>

<script>
	var apple = 40;
	var orange = 30;

	if(apple >= orange) {
		document.write("Yess good job!");
	} else {
		document.write("Succer....")
	};
	document.write('<br><br>') // baris berikut nya

	// Contoh lain

	var myPassword = "sueorajamu";
	var dbPassword = "ojosue";

	if (myPassword == dbPassword) {
		alert("Anda Ora Sue");
	} else {
		alert("Sue luuu!!");
	}
</script>

Contoh lain:
<pre>
var myPassword = "sueorajamu";
var dbPassword = "ojosue";

if (myPassword == dbPassword) {
	alert("Anda Ora Sue");
} else {
	alert("Sue luuu!!");
}	
</pre>