<h1>Welcome to Latihan JavaScript On Rails Web</h1>

<p id="demo"></p>

<script>
	console.log("Hello World and Hello Dunia!")
	document.write("Hello Dyo! <br/>")
	document.write("Change the value")
</script>

<h2>Materi Belajar</h2>
<h3>Mater 1</h3>
<ol>
	<li>Variable & Operator</li>
	<li>Komentar</li>
	<li>Variable & Operator</li>
	<li>Return Statement</li>
	<li>Global & Lokal Variable</li>
	<li>Parameter & Function</li>
	<li>Matematika Operator</li>
	<li>Asignment Operator</li>
	<li>If Statement</li>
	<li>If Else Statement</li>
	<li>Nesting</li>
	<li>Complex Condition</li>
	<li>Switch</li>
	<li>For Looping</li>
	<li>While Looping</li>
</ol>

<h3>Materi 2</h3>
<ul>
	<li></li>
</ul>

<h3>Animation</h3>
<ol>
	<li>JavaScript HTML DOM Animation</li>
</ol>

