<h1>Cara Membuat Komentar di JS</h1>

<script>

	var komen = "Cara Membuat Komentar dalam script JavaScript"
	document.write(komen);

	//ini adalah Komentar satu baris

	/* 	ini adalah komentar 
		multi line 
		bisa menggunakan backspace dan 
		bintang, untuk komen-komen
		yang panjang
	*/
</script>

<pre>
&lt;script&gt;

	var komen = "Cara Membuat Komentar dalam script JavaScript"
	document.write(komen);

	//ini adalah Komentar satu baris

	/* 	ini adalah komentar 
		multi line 
		bisa menggunakan backspace dan 
		bintang, untuk komen-komen
		yang panjang
	*/
&lt;/script&gt;
</pre>