<h1>Math Operator</h1>

<script>

	var a = 12;
	var b = 22;
	var c = a + b;

	document.write(c);
	document.write('<br>');

	function tambah(d, e){
		var f = d + e;
		return f;
	}
	document.write(tambah(2,3) + "<br>"); // menambahkan break
	document.write('<br>')                // menambahkan break

	var g = 5;
	var g = g + 5;
	g++;                                 // menambahkan 1 
	document.write(g);

</script>

<pre>
var a = 12;
var b = 22;
var c = a + b;

document.write(c);
document.write('&lt;br&gt;');

function tambah(d, e){
	var f = d + e;
	return f;
}
document.write(tambah(2,3));	
</pre>