<h1>Nesting</h1>

<p>Salah satu contoh nested adalah condition di dalam condition</p>

Contoh kasus:

<pre>
var namaDepan = "Dyo";
var namaBelakang = "Bumi"

if (namaDepan == "Dyo") {
	if (namaBelakang == "Joki") {
		document.write("Welcome " + namaDepan + " " + namaBelakang);
	}
	else {
		document.write("Anda bukan " + namaDepan + " " + namaBelakang);
	}
}
else {
	document.write("Salah username");
}	
</pre>

<script>
	var namaDepan = "Dyo";
	var namaBelakang = "Bumi"

	if (namaDepan == "Dyo") {
		if (namaBelakang == "Joki") {
			document.write("Welcome " + namaDepan + " " + namaBelakang);
		}
		else {
			document.write("Anda bukan " + namaDepan + " " + namaBelakang);
		}
	}
	else {
		document.write("Salah username");
	}
</script>