<h1>Parameter & Function</h1>

Parameter adalah Value, jadi Parameter Function adalah Value dalam Function JS.

<script>
	// membuat Parameter di function
	function dyonesa(nama){
		alert("Anda memasuki wilayah kami! " + nama + "!!");
	};

	dyonesa('Brandon');
	dyonesa('Ersya');
	dyonesa('Adel');
	dyonesa('Aaron');

</script>

<pre>
&lt;script&gt;
	// membuat Parameter di function
	function dyonesa(nama){
		alert("Anda memasuki wilayah kami! " + nama + "!!");
	};

	dyonesa('Brandon');
	dyonesa('Ersya');
	dyonesa('Adel');
	dyonesa('Aaron');

&lt;/script&gt;
</pre>