<h1>Return Statement</h1>

<p>Dalam bahasa Indonesia artinya mengembalikan atau menjalankan.

Return digunakan pada sebuah function atau action, bila kita return maka jalanlah action pada function tersebut.</p>

<h2>Membuat Function</h2>

<script>
	function dyonation() {
		return "Hello para medionation!!"
	}
	// memanggil dengan alert
	alert(dyonation());
	// memanggil dengan document.write
	document.write(dyonation());

</script> 

<pre>
&lt;script&gt;
	function dyonation() {
		return "Hello para medionation!!"
	}
	// memanggil dengan alert
	alert(dyonation());
	// memanggil dengan document.write
	document.write(dyonation());

&lt;/script&gt; 	
</pre>
Jadi fungsi function diatas adalah untuk menjalankan / mengembalikan sebuah return.

<h3>Contoh lain</h3>

<script>
	function penambahanAngka(a, b) {
		var c = a + b;
		return c;	
	};
	document.write(penambahanAngka(2, 3));
</script>

<pre>

&lt;script&gt;
	function penambahanAngka(a, b) {
		var c = a + b;
		return c;	
	};
	document.write(penambahanAngka(2, 3));
&lt;/script&gt;	
</pre>
