<h2>Switch</h2>

<pre>
var nama = "Jovan";

switch(nama) {
	case "Ersya":
	document.write("Hello Selamat Datang" + nama);
break;

case "Brandon":
	document.write("Hello Selamat ya " + nama);
break;

default:
	document.write("Siapapun anda selamat ya " + nama);
}
</pre>
<br>
<a href="https://jsfiddle.net/vanbumi/yo3a7uyb/">Test Code</a>
