<h1>Variable dan Operator</h1>

<script>
	document.write("Hello Dunia!<br>")

	var dunia = "Hello Dunia!!"
	document.write(dunia + "<br>"); 
	document.write("<br>")

	var a = 20;
	var b = 5;
	document.write(a + b + "<br>");

	// Menjadikan string
	var c = "20";
	var d = "10";
	document.write("Menjadikan Variable string: <br>");
	document.write(c + d)


</script>