<h1>While Loop</h1>

<pre style="width: 800px; margin-left: 20px;">
var x = 0;
text = "";
while( x < 10) {
  text += "&lt;br&gt; number is " + x ; 
  x++;
  document.getElementById("demo").innerHTML = text;
}
</pre>

<p id="demo" style="margin-left: 20px;"></p>

<script>
	var x = 0;
  text = "";
  while( x < 10) {
    text += "<br> number is " + x ; 
 		x++;
    document.getElementById("demo").innerHTML = text;
  }
</script>