<h1>Google Map</h1>

<div id="map" style="width: 400px; height: 400px;">My map will go here</div>

<script>
	// var mapCanvas  = document.getElementById("map");
	// var mapOptions = {
	// 	center: new google.maps.LatLng(106.8227,-6.121435), zoom: 10 
	// }
	// var map = new.google.maps.Map(mapCanvas, mapOptions);
	
	var mapCanvas = document.getElementById("map");
	var mapOptions = {
	    center: new google.maps.LatLng(-6.1745,106.8227), zoom: 10
	}
var map = new google.maps.Map(mapCanvas, mapOptions);
</script>